# .npmignore
.github/
.vscode/
jest.config.ts

# Exclude coverage output
coverage/

# Yarn internals
.yarn/
.yarnrc.yml

# Ignore test files
dist/**/*.test.js
dist/**/*.test.d.ts
dist/**/*.test.d.ts.map

# Ignore source maps (optional if you don’t need them)
dist/**/*.d.ts.map